# Systemd unit to upload FT8 spots to pskreporter
# Philip Gladstone, May 2024

[Unit]
Description=ft8-pskreporter
After=network-online.target
Requires=network-online.target

[Service]
Nice=10
User=zw
Group=zw
Type=simple
EnvironmentFile=/etc/radio/%i-pskreporter.conf
PermissionsStartOnly=true
CPUSchedulingPolicy=batch
WorkingDirectory=/home/zw/wsprdaemon/ftlib-pskreporter
Environment="TZ=UTC"
ExecStart=python3 /home/zw/wsprdaemon/ftlib-pskreporter/pskreporter-sender --callsign ${CALLSIGN} --locator ${LOCATOR} --antenna ${ANTENNA} ${FILE} ${MODE}
Restart=always
RestartSec=5
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
